<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Searching</title>
</head>
<body>
	<form action = "http://localhost:8888/timkiem" method="GET">
		<select name="loai">
			<option   value="thongtin">thong tin</option>
			<option   value="vitri">vi tri</option>			
		</select>
		Ho ten: <input type="text" name="hovaten"><br>
		Que quan: <input type="text" name="quequan"><br>
		Nam sinh: <input type="text" name="namsinh">
		Nam mat: <input type="text" name="nammat"><br>
		Lo: <input type="text" name="lo"><br>
		Hang: <input type="tex'" name="hang"><br>
		Mo: <input type="text" name="mo">

		
		<input type="submit" value="submit">
	</form>
</body>
</html>